@import '~ng-devui/styles-var/devui-var.scss';

d-layout{
    min-height: 100%;
}
d-header {
  text-align: left;
  position: relative;
  height: 55px;
  background-color: $devui-base-bg-dark;
  color: $devui-light-text;
  position: sticky;
  top: 0;
  .title{
    text-align: center;
    line-height: 55px;
    font-size: 18px;
  }
}

d-content {
  background-color: $devui-global-bg;
}

d-footer {
  color: $devui-light-text;
  background-color: $devui-base-bg-dark;
  padding: 8px 24px;
}
.container{
    width: 70%;
    height: 100%;
    margin: auto;
}